 body{
  position: relative;
 }
 .navbar{
   /* border : 2px solid black;  */
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: sticky;
  top : 0;
  z-index: 1;
  backdrop-filter: blur(15px);
  /* border-bottom: 4px solid black; */
}
.navLeft{
  flex: 3;
   display: flex;
   gap : 8px;
   align-items: center;
}
.navName{
  font-size: 2.3rem;
  font-weight: bolder;
}
.navRight{
  flex: 1;
   display: flex;
   justify-content:flex-end;
   align-items: center;
   font-weight: 500;
}
.navList{
  flex: 10;
  margin-left: 100px;
  text-align: center;
}
.navList > ul{
  display: flex;
  gap : 3rem;
  margin-right: 4rem;
  font-size: 1.4rem;
  font-weight: bolder;
}
.navList ul li:hover{
  transition: 2s ease-in 0s;
  cursor: pointer;
  /* text-transform: uppercase; */
  background: linear-gradient(90deg , #00ffff,#ff00c3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color : transparent;
  box-shadow: 5px 5px 5px #00ffff;
}
 
.navList ul{
  list-style: none;
 
}

.navButton{
  flex: 2;
  margin-right: 0.7rem;
}
.navButton{
   border: none;
   font-size: 3vmin;
   padding: 10px;
   background-color: orange;
   box-shadow: 0px 20px 24px 3px orange;
   border-radius: 24px;
   width: 150px;
}
.navButton:hover{
  background-color: white;
  cursor: pointer;
  color : orange;
  border: 1px solid orange;
}
/* .line{
  border: 2px solid black;
  width : 173vmin;
} */

@media (max-width : 500px){
  .navList{
    display: none;
  }
} 
 




 /* @media(max-width: 700px) {
   .navConnect {
    display: none;
  } 
  .menuOpen {
    display: block;
    position: fixed;
    right: 30px;
    font-size: 5rem;
  }
  
  .menuClose {
     font-size: 5rem;
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px; 
   
  }
  
  .navList {
    position: fixed;
    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
    border-radius: 30px;
    top: 0;
    gap: 30px; 
   
    background-color: white;
    border: 10px solid orange;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
   
    right : -640px;
  }
  
  .navList ul {
    padding: 0; 
    margin: 0;
    list-style-type: none; 
    width: 100%;
  }
  ul {
    display: flex;
    flex-direction: column;
  }
  
  .navList li {
    font-size: 5rem;
    margin-bottom: 5rem;
    margin-top: 3rem;
    padding: 10px 10px; 
    width: 100%; 
    text-align: left; 
  }
  
  .visible {
    display: block; 
  }
  
  .hidden {
    display: none; 
  }
}  */
